---
import Layout from '../layouts/Layout.astro';
import Island from "../components/Island.astro";

export const prerender = true;
---

<Layout>
	<p>Repro steps:</p>
	<ul>
		<li>Load the page</li>
		<li>Wait for the island to load</li>
		<li>Go to another page</li>
		<li>Go back to this page with the links in the header</li>
		<li>Observe how the island doesn't load</li>
	</ul>
	<Island server:defer>
		<div slot="fallback">
			Loading...
		</div>
	</Island>
</Layout>
