---
function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms))
}

const time = await sleep(3000); // Let's simulate a DB call or something
const randomNumber = Math.random();

export const prerender = false;
---

<p>The random number is <b>{randomNumber}</b>.</p>